version: '3.1'
services:
  mongo:
    image: mongo:4-bionic
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports: 
      - 27017:27017
    volumes: 
      - /root/mongo/4/data:/data/db
    restart: always