version: "3"
services:
  postgres11:
    image: postgres:11
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports: 
      - 5433:5432
    volumes: 
      - /root/postgres/11/data:/var/lib/postgresql/data
