version: "3"
services:
  postgres10:
    image: postgres:10
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports: 
      - 5433:5432
    volumes: 
      - /root/postgres/10/data:/var/lib/postgresql/data
