version: "3"
services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports: 
      - 5433:5432
    volumes: 
      - /root/postgres/data:/var/lib/postgresql/data
